@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fontsource/fira-mono';

html.dark body {
    background-color: rgb(28, 30, 34);
    color: rgb(227, 225, 221);
}

body {
    background-color: rgb(227, 225, 221);
    color: rgb(28, 30, 34);
}

/***** Util *****/

.underline {
    text-decoration: underline;
}

.indented {
    padding-left: 2rem;
    text-indent: -2rem;
    word-break: break-all;
    text-wrap: wrap;
}

.empty {
    display: none;
}

.show-empty .empty {
    display: block;
}

/***** Formatting Common Blocks *****/
.split {
    display: flex;
    border-radius: 2rem;
}

.split > :first-child {
    margin-left: 0;
}

.split > * {
    margin-left: 1rem;
    flex-basis: 900px;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    background-color: theme('colors.white');
    color: theme('colors.gray.500');
}

html.dark .split > * {
    background-color: theme('colors.gray.800');
    color: theme('colors.gray.400');
}

.section {
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    background-color: theme('colors.white');
    color: theme('colors.gray.500');
}

html.dark .section {
    background-color: theme('colors.gray.800');
    color: theme('colors.gray.400'); 
}

h1 { font-size: theme('size.9'); font-weight:500; }
h2 { font-size: theme('size.8'); font-weight:500; }
h3 { font-size: theme('size.7'); font-weight:500; }
h4 { font-size: theme('size.6'); font-weight:500; }
h5 { font-size: theme('size.5'); font-weight:500; }
h6 { font-size: theme('size.4'); font-weight:500; }

/* this would be nice, but messes with nav
/* ul { padding-left: 0.2rem } */
/* li { list-style: inside; margin-left: 0.4rem; } */

ul.list { padding-left: 0.2rem }
ul.list > li { list-style: inside; margin-left: 0.4rem; }

.with-tooltip:hover::before {
    content: attr(tooltip);
    position: absolute;
    z-index: 100;
    display: block;
    background-color: blue;
    padding: 1rem;
    border-radius: 0.5rem;
}

/* INTERESTING: This creates a pseudo-element using the title attribute on the <ul> element 
ul.list::before {
    content: attr(title);
    display: inline-block;
    font-size: theme('size.5');
    font-weight: 600;
}
*/

/* Page Header values:
bg-white        dark:bg-gray-800 
text-gray-500   dark:text-gray-400 
border-gray-200 dark:border-gray-700 
divide-gray-200 dark:divide-gray-700
px-2 sm:px-4 py-2.5 w-full
*/

/*
    size.x' does not exist in your theme config. 'size' has the following valid keys: 
    '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', 
    '12', '14', '16', '20', '24', '28', '32', '36', '40', '44', 
    '48', '52', '56', '60', '64', '72', '80', '96', 'auto', 'px', '0.5', '1.5', '2.5', '3.5', '1/2', '1/3', '2/3', '1/4', '2/4', '3/4', '1/5', '2/5', '3/5', '4/5', '1/6', '2/6', '3/6', '4/6', '5/6', '1/12', '2/12', '3/12', '4/12', '5/12', '6/12', '7/12', '8/12', '9/12', '10/12', '11/12', 'full', 'min', 'max', 'fit'
*/

/*
Your theme has the following top-level keys: 
'accentColor', 'animation', 'aria', 'aspectRatio', 'backdropBlur', 'backdropBrightness', 
'backdropContrast', 'backdropGrayscale', 'backdropHueRotate', 'backdropInvert', 'backdropOpacity', 
'backdropSaturate', 'backdropSepia', 'backgroundColor', 'backgroundImage', 'backgroundOpacity', 
'backgroundPosition', 'backgroundSize', 'blur', 'borderColor', 'borderOpacity', 'borderRadius', 
'borderSpacing', 'borderWidth', 'boxShadow', 'boxShadowColor', 'brightness', 'caretColor', 
'colors', 'columns', 'container', 'content', 'contrast', 'cursor', 'divideColor', 'divideOpacity', 
'divideWidth', 'dropShadow', 'fill', 'flex', 'flexBasis', 'flexGrow', 'flexShrink', 'fontFamily', 
'fontSize', 'fontWeight', 'gap', 'gradientColorStops', 'gradientColorStopPositions', 'grayscale', 
'gridAutoColumns', 'gridAutoRows', 'gridColumn', 'gridColumnEnd', 'gridColumnStart', 'gridRow', 
'gridRowEnd', 'gridRowStart', 'gridTemplateColumns', 'gridTemplateRows', 'height', 'hueRotate', 
'inset', 'invert', 'keyframes', 'letterSpacing', 'lineHeight', 'listStyleType', 'listStyleImage', 
'margin', 'lineClamp', 'maxHeight', 'maxWidth', 'minHeight', 'minWidth', 'objectPosition', 
'opacity', 'order', 'outlineColor', 'outlineOffset', 'outlineWidth', 'padding', 'placeholderColor', 
'placeholderOpacity', 'ringColor', 'ringOffsetColor', 'ringOffsetWidth', 'ringOpacity', 'ringWidth', 
'rotate', 'saturate', 'scale', 'screens', 'scrollMargin', 'scrollPadding', 'sepia', 'skew', 'space', 
'spacing', 'stroke', 'strokeWidth', 'supports', 'data', 'textColor', 'textDecorationColor', 
'textDecorationThickness', 'textIndent', 'textOpacity', 'textUnderlineOffset', 'transformOrigin', 
'transitionDelay', 'transitionDuration', 'transitionProperty', 'transitionTimingFunction', 
'translate', 'size', 'width', 'willChange', 'zIndex'
*/